@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
}

.content-container {
    height: 100vh;
    display: grid;
    grid-template-areas: "profile experience" "profile education" "footer footer";
  gap: 5px;
}

.profile-container {
    margin: 20px;
    margin-left: 100px;
    grid-area: profile;
    height: 800px;
    width: 400px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: url() no-repeat;
    background-size: cover;  
    box-shadow: 0px 0px 5px 0px;
}
.profile-photo{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    transform: rotate(-90deg);
}

.experience-container {
  margin: 20px;
    grid-area: experience;
    height: 500px;
    width: 800px; 
    box-shadow: 0px 0px 5px 0px;
}

.education-container {
    margin: 20px;
    grid-area: education;
    height: 500px;
    width: 800px;
    box-shadow: 0px 0px 5px 0px;
}

.footer-container {
    grid-area: footer;
    height: 200px;
    width: 100%;
    background: red;
}